{
	"project_id": "infra-example",
	"source_image_family": "ubuntu-1604-lts",
	"machine_type": "g1-small",
	"disk_type": "pd-standard",
	"disk_size": "10",
	"image_description": "information about image",
	"ssh_username": "test",
	"zone": "us-central1-a"
	"tags": "test-server"
}
